.span{
    height: 20px;
    width: 20px;
    background-color: blue;
    }
.div{
    height: 80px;
    width: 80px;
    background-color: red;
    }
    ul {
        list-style: none;
        font-size:0 /* truco por el uso de inline-block*/
     }
     li {
        display: inline-block;
        width: 25%;
        position:relative;
        font-size: 14px
     }
     ul ul {
        position: absolute;
        display: none;
     }
     ul ul li {
        display: block;
     }
     ul li:hover ul {
        display:block;
     }
     